$bug: #A8B820;
$dark: #705848;
$dragon: #7038F8;
$electric: #F8D030;
$fairy: #EE99AC;
$fighting: #C03028;
$fire: #F08030;
$flying: #A890F0;
$ghost: #705898;
$grass: #78C850;
$ground: #E0C068;
$ice: #98D8D8;
$normal: #A8A878;
$poison: #A040A0;
$psychic: #F85888;
$rock: #B8A038;
$steel: #B8B8D0;
$water: #6890F0;
$pokedex: #dc3545;
$background: #282c34;

$ballSecondary: #222224;
$ballTertiary: #f0f0f0;
$pokeText: white;

$pokePrimary: #ee1515;
$pokeAccent: #0d6efd;
$pokeSecondary: #b72121;
$pokeDex: #dc3545;
$pokeAccentBorder: #e60a0a;
$pokeAccentHoverBg: #da1717;
$pokeAccentHoverBorder: white;
$pokeAccentClickBg: #fb2323;
$pokeAccentClickBorder: #fe7676;

$greatPrimary: #3890f8;
$greatSecondary: #074086;
$greatAccent: #ee1515;
$greatAccentSecondary: #119fd1;
$greatDex: #1860bd;
$greatBtnBorder: #cd0c0c;
$greatBtnHoverBg: #bd0e0e;
$greatBtnHoverBorder: #9d0606;
$greatBtnClickBg: #8c0f0f;
$greatBtnClickBorder: #871010;

$ultraPrimary: #373a3d;
$ultraSecondary: #a48509;
$ultraAccent: #f5cd35;
$ultraDex: #353535;
$ultraBtnBorder: #e4b20b;
$ultraBtnHoverBg: #f1b621;
$ultraBtnHoverBorder: #e5a519;
$ultraBtnClickBg: #e2a31a;
$ultraBtnClickBorder: #d89613;

$masterPrimary: #7313a7;
$masterSecondary: #3b0a63;
$masterAccent: #df1fbf;
$masterAccentSecondary: #fc04ba;
$masterDex: #4e2573;
$masterBtnBorder: #ea55d1;
$masterBtnHoverBg: #c924ad;
$masterBtnHoverBorder: #d504a1;
$masterBtnClickBg: #9e1186;
$masterBtnClickBorder: #a70d81;
