@import './typeColors.css';

.bg-bug, .bg-dark, .bg-dragon, .bg-electric, 
.bg-fairy, .bg-fighting, .bg-fire, .bg-flying, 
.bg-ghost, .bg-grass, .bg-ground, .bg-ice, .bg-normal,
.bg-poison, .bg-psychic, .bg-rock, .bg-steel, .bg-water {
  color: white;
  border: 1px solid white;
  margin: 0 0.1rem
}

.bg-bug{
  background-color: var(--bug);
  
}

.bg-dark{
  background-color: var(--dark);
}

.bg-dragon{
  background-color: var(--dragon);
}

.bg-electric{
  background-color: var(--electric);
  color: black;
  border: 1px solid black;
}

.bg-fire{
  background-color: var(--fire);
}

.bg-fairy{
  background-color: var(--fairy);
}

.bg-fighting{
  background-color: var(--fighting);
}

.bg-fire{
  background-color: var(--fire);
}

.bg-flying{
  background-color: var(--flying);
}

.bg-ghost{
  background-color: var(--ghost);
}

.bg-grass{
  background-color: var(--grass);
}

.bg-ground{
  background-color: var(--ground);
}

.bg-ice{
  background-color: var(--ice);
}

.bg-normal{
  background-color: var(--normal);
}

.bg-poison{
  background-color: var(--poison);
}

.bg-psychic{
  background-color: var(--psychic);
}

.bg-rock{
  background-color: var(--rock);
}

.bg-steel{
  background-color: var(--steel);
}

.bg-water{
  background-color: var(--water);
}