$headerfooterheight: 150px;
$headerfooterborderwidth: 1rem;
$headerfooterverticalmargin: 3rem;
$headerfooterverticalpadding: 2rem;

// -- transition animation testing ---

#footer.blarg {
  position: absolute;
  bottom: 0;
}

#header.blarg,
#footer.blarg {
  margin: 0 0 0 0 !important;
  height: 50vh;
}

#main.blargMain {
  height: 0;
  margin: 0 !important;
  display: none;
  /* opacity: 0; */
}

#pokeball_button_outer.blarg {
  position: fixed;
  top: 44%;
}

#pokeball_button_footer.blarg {
  display: none;
}

// --------header---------

#header {
  width: 100%;
  height: $headerfooterheight;
  background-color: $background;
  color: white;
  border-bottom: $headerfooterborderwidth solid black;
  // margin: 0 0 $headerfooterverticalmargin 0;
  padding: $headerfooterverticalpadding 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 3;
  /* transition: height 2s; */

  &.pokeball{
    background-color: $pokePrimary;
  }

  &.greatball{
    background-color: $greatPrimary;
  }

  &.ultraball{
    background: $ultraBallAccent;
  }

  &.masterball{
    background-color: $masterPrimary;
  }
}

#header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  color: white !important;
  font-family: 'Russo One';
  font-size: 3rem !important;
  padding: 0 !important;
}

.navbar-nav a {
  background-color: transparent !important;
  vertical-align: middle;
}

#nav_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#pokeball_button_outer {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 1rem solid black;
  margin: 0;
  padding: 0;
  background-color: white;
  position: absolute;
  top: 67.25%;
}

// --------footer---------

#footer {
  width: 100%;
  height: $headerfooterheight;
  transform-origin: 0 100%;
  transform: scaleY(1);
  background-color: gainsboro;
  color: $pokedex;
  /* border-top: 1rem solid black; */
  // margin: $headerfooterverticalmargin 0 0 0;
  padding: $headerfooterverticalpadding 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 2;
  /* transition: height 2s; */
}

#footer_contact{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: right;
  padding: 0 1rem;
  margin: 1rem;
}

#footer a {
  color: $pokedex !important;
  margin: 0 0.5rem;
}

#footer_socials{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }
}

#footer a:hover{
  color: blue !important;
}

#pokeball_button_footer {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 0;
  background-color: $background;
  position: absolute;
  bottom: 67.25%;
  /* z-index: -5; */
}

// --------main---------

main {
  min-height: calc(100vh - (2 * $headerfooterheight) - $headerfooterborderwidth);
  /* height: 100vh; */
  margin: 5rem 0 !important;
  /* display: inherit; */
  opacity: 100%;
  /* transition: opacity 1s;
  transition: height 2s; */
}

// --------about---------

#about {
  display: flex;
  padding: 5rem;
  height: 70vh;

  > * {
    margin: 0 0.5rem;
  }

  #about_content {
    color: white;
    width: 65%;
    overflow-y: auto;
    display: flex;
    align-items: center;

    p {
      text-align: left;
      font-size: x-large;
      max-height: 80%;
    }
  }
  
  #about_categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 35%;

    > * {
      margin: 0.5rem 0;
      padding: 0.5rem;
      font-size: x-large;
      font-weight: bold;
    }
  }
}

// --------contact---------

#contact{
  padding: 5rem;
  height: 70vh;
  color: white;

  button{
    width: 35%;
  }
}

#contact_details{
  display: flex;
  justify-content: space-between;

  > * {
    width: 47%;
  }
}

.form_group{
  text-align: left;

  label {
    text-align: left;
    color: white;
  }
}