.btn {

  &:not(.btn-danger){
    &.pokeball{
      // background-color: ;

    }

    &.greatball{
      background-color: $greatAccent;
      border: 0.1rem solid $greatBtnBorder;

      &:hover{
        background-color: $greatBtnHoverBg;
        border: 0.1rem solid $greatBtnHoverBorder;
      }

      &:first-child:active{
        background-color: $greatBtnClickBg;
        border: 0.1rem solid $greatBtnClickBorder;
      }
    }

    &.ultraball{
      color: black;
      background-color: $ultraAccent;
      border: 0.1rem solid $ultraBtnBorder;

      &:hover{
        background-color: $ultraBtnHoverBg;
        border: 0.1rem solid $ultraBtnHoverBorder;
      }

      &:first-child:active{
        background-color: $ultraBtnClickBg;
        border: 0.1rem solid $ultraBtnClickBorder;
      }
    }

    &.masterball{
      background-color: $masterAccent;
      border: 0.1rem solid $masterBtnBorder;

      &:hover{
        background-color: $masterBtnHoverBg;
        border: 0.1rem solid $masterBtnHoverBorder;
      }

      &:first-child:active{
        background-color: $masterBtnClickBg;
        border: 0.1rem solid $masterBtnClickBorder;
      }
    }

  }

}