#learnset{
  .card-footer{
    display: flex;
    justify-content: space-evenly;
  }
}

#learnset_spinners{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}




.accordion-button {
  color: rgba(255, 255, 255, 0.695);
  background-color: rgb(197, 0, 0);
  margin: 0;
  padding: 0;
}

.accordion_move_header > .accordion-button::after{
  position: relative;
  margin: 0;
  align-self: center;
}

.label.accordion-header > .accordion-button {
  padding: 0.25rem
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: rgb(255, 0, 0);
}

.accordion-header {
  color: white;
  background-color: rgba(0,0,0,0%);
}

.accordion-body {
  font-size: 0.825rem;
  /* padding: 0.5rem 0.75rem !important; */
}

.move_description, .ability {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  max-height: 10vh;
  overflow: auto;
}

.move_description > p {
  margin: 0;
}

.accordion-item {
  color: white;
  background-color: rgba(31, 1, 1, 0.5);
}

.movelist_button {
  padding: 0 0.25rem;
  width: calc(100% - 0.25rem);
  margin: 0.25rem 0;
}

.table {
  --bs-table-color: white;
  --bs-table-striped-color: white;
  --bs-table-bg: rgba(0,0,0,0);
  --bs-table-striped-bg: rgba(255, 255, 255, 30%);
  --bs-table-hover-color: white;
  --bs-table-hover-bg: red;
  --bs-table-border-color: #fc6767;
  margin-bottom: 0;
}

td, th {
  max-width: 10px
}

th {
  cursor: pointer;
  justify-content: center;
  padding: 8px 4px !important;
}