.modal-content{
  color: white !important;
}

.modal-header{

  &.pokeball{
    background-color: $pokePrimary;
  }

  &.greatball{
    background-color: $greatPrimary;
  }

  &.ultraball{
    background: $ultraBallAccent;
  }

  &.masterball{
    background-color: $masterPrimary;
  }
  // background-color: #dc3545;
  color: white;
  border-bottom: 5px solid black !important;
}

.modal-body {
  background-color: $background;
}

.modal-footer{
  background-color: white;
  border-top: 5px solid black !important;
}

td {
  overflow-x: hidden;
}

#load_teams_options{
  display: flex;
  justify-content: space-around;
}

#save_team_modal{
  .modal-header{
    display: flex;
    justify-content: space-between;

    p{
      margin: 0;
      color: white;
      font-size: 0.9rem;
    }
  }

  .modal-body{
    display: flex;
  }
}

.teammember_save_modal_container{
  padding: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .teammember_info{
    width: 100%;
  }
}

.saved_team{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 0.25rem;
}