@import './themes.scss';

.modal-content{
  color: white !important;
}

.modal-header{
  background-color: #dc3545;
  color: white;
  border-bottom: 5px solid black !important;
}

.modal-body {
  background-color: var(--background);
}

.modal-footer{
  background-color: white;
  border-top: 5px solid black !important;
}

td {
  overflow-x: hidden;
}
