// navtabs at the top of the <RightCard /> component (i.e. 'Main', 'TeamBuilder', 'Items')
.nav-link{
  color: white;
}

.rightCardNav {

  &.nav-link{

    &.pokeball{
      color: white;
      background-color: var(--pokeSecondary);

      &:hover{
        background-color: var(--pokeAccentHoverBg);
        border-color: var(--pokeAccentHoverBorder);
        border-bottom-color: transparent;
      }

      &:active{
        background-color: var(--pokeAccentClickBg);
        border-color: var(--pokeAccentClickBorder);
        border-bottom-color: transparent;
      }

      &.active{
        background-color: var(--pokedex);
        border-bottom-color: transparent;
      }
    }

    &.greatball{
      color: white;
      background-color: var(--greatSecondary);

      &:hover{
        background-color: var(--greatPrimary);
        border-color: white;
        border-bottom-color: transparent;
      }

      &:active{
        background-color: var(--greatAccentSecondary);
        border-color: white;
        border-bottom-color: transparent;
      }

      &.active{
        background-color: var(--greatDex);
        border-bottom-color: transparent;
      }
    }

    &.ultraball{
      color: white;
      background-color: var(--ultraSecondary);

      &:hover{
        background-color: var(--ultraBtnHoverBg);
        border-color: var(--ultraBtnHoverBorder);
        border-bottom-color: transparent;
        color: white;
      }

      &:active{
        background-color: var(--ultraBtnClickBg);
        border-color: var(--ultraBtnClickBorder);
        border-bottom-color: transparent;
      }

      &.active{
        background-color: var(--ultraDex);
        border-bottom-color: transparent;
      }
    }

    &.masterball{
      color: white;
      background-color: var(--masterSecondary);

      &:hover{
        background-color: var(--masterBtnHoverBg);
        border-color: var(--masterBtnHoverBorder);
        border-bottom-color: transparent;
      }

      &:active{
        background-color: var(--masterBtnClickBg);
        border-color: var(--masterBtnClickBorder);
        border-bottom-color: transparent;
      }

      &.active{
        background-color: var(--masterDex);
        border-bottom-color: transparent;
      }
    }
  }

}

// navtabs for the details components of the 'Main' tab of the <RightCard /> component
.nav-link {
  margin: 0 0.25rem;
  border-bottom-color: transparent;

  &.pokeball{
    color: white;
    background-color: #0d6efd;

    &:hover{
      background-color: #0b5ed7;
      border-color: #0a58ca;
    }

    &:active{
      background-color: #0a58ca;
      border-color: #0a53be;
    }

    &.active{
      background-color: #2d99ff;
      border-color: white;
      color: white;
    }
  }

  &.greatball{
    color: white;
    background-color: var(--greatAccent);

    &:hover{
      background-color: var(--greatBtnHoverBg);
      border-color: var(--greatBtnHoverBorder);
    }

    &:active{
      background-color: var(--greatBtnClickBg);
      border-color: var(--greatBtnClickBorder);
    }

    &.active{
      background-color: rgb(255, 61, 61);
      border-color: white;
      color: white;
    }
  }

  &.ultraball{
    color: var(--ultraAccent);
    background-color: rgb(31, 31, 31);

    &:hover{
      background-color: var(--ultraBtnHoverBg);
      border-color: var(--ultraBtnHoverBorder);
      color: black;
    }

    &:active{
      background-color: var(--ultraBtnClickBg);
      border-color: var(--ultraBtnClickBorder);
      color: black;
    }

    &.active{
      background-color: var(--ultraBtnClickBg);
      border-color: yellow;
    }
  }

  &.masterball{
    color: white;
    background-color: var(--masterAccent);

    &:hover{
      background-color: var(--masterBtnHoverBg);
      border-color: var(--masterBtnHoverBorder);

    }

    &:active{
      background-color: var(--masterBtnClickBg);
      border-color: var(--masterBtnClickBorder);
    }

    &.active{
      background-color: var(--masterAccentSecondary);
      border-color: white;
      color: white;
    }
  }
}