.subCard a.nav-link, .subCard a.nav-link.active {
  padding: 0.25rem 0.5rem !important;
  border-bottom-color: black !important;
}

.details {
  height: 100% !important;

  .card-header{
    border-bottom: 5px solid black;
    display: flex;
    justify-content: flex-end;

    &.pokeball{
      background-color: var(--pokePrimary);
    }

    &.greatball{
      background-color: var(--greatPrimary);
    }

    &.ultraball{
      background-color: var(--ultraPrimary);
    }

    &.masterball{
      background-color: var(--masterPrimary);
    }
  }

  .card-body{
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
  }

  .card-footer{
    background-color: var(--ballTertiary);
  }
}