.passwordFocus{
  box-shadow: 0 0 0 0.3rem rgba(21, 0, 255, 0.25);
  /* outline: solid 1px red; */
  /* border: solid 3px rgba(240, 10, 10, 0.624); */
  border-radius: var(--bs-border-radius-sm);
  border-top-left-radius: var(--bs-border-radius-sm);
  border-bottom-left-radius: var(--bs-border-radius-sm)
}

.form-control:focus{
  border: none;
  box-shadow: 0 0 0 0.3rem rgba(21, 0, 255, 0.25);
}

