#itemTabOuter{
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#itemTabCards{
  width: 68%;
  max-height: 73.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

#itemPockets{
  background-color: rgba(0, 0, 0, 40%);
  color: white;
  max-height: 73.5vh;
  width: 40%;
}

#itemPocketsHeader{
  background-color: blue;
}

#itemPocketsBody{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  overflow-y: auto;
  padding: 0;
}

.categoryAccordionBody.accordion-body{
  display: flex;
  flex-direction: column;
  max-height: 400px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0);
}

.itemCard{
  margin: 0.5rem 0.25rem;
}

.itemCard:first-child{
  margin: 0 0.25rem 0.5rem 0.25rem;
}

.itemCardHeader.card-header{
  background-color: red;
  color: white;
  border-bottom: 5px solid black;
}

.itemCardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokedollar{
  width: 1.125rem;
  height: 1.125rem;
}

.itemCardBody{
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}