p {
  padding: 0;
  margin: 0;
}

.innerContainer {
  padding: 0;
  /* text-align: center; */
  margin: 0.5rem 0;
}

th {
  cursor: auto;
  text-align: center;
}

th, td {
  padding: 2px !important;
}

#teamSave {
  margin-bottom: 0.3rem;
}

.accordion-body {
  overflow-y: hidden;
  height: auto;
}

.accordion-button {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}

.accordion-button:focus {
  box-shadow: none;
}