:root {
  box-sizing: border-box;
  --bug: #A8B820;
  --dark: #705848;
  --dragon: #7038F8;
  --electric: #F8D030;
  --fairy: #EE99AC;
  --fighting: #C03028;
  --fire: #F08030;
  --flying: #A890F0;
  --ghost: #705898;
  --grass: #78C850;
  --ground: #E0C068;
  --ice: #98D8D8;
  --normal: #A8A878;
  --poison: #A040A0;
  --psychic: #F85888;
  --rock: #B8A038;
  --steel: #B8B8D0;
  --water: #6890F0;
}

.App {
  text-align: center;
  background-color: #8f8f8f;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  min-height: 100vh;
}

#pokedex-container {
  margin-top: 2%;
  margin-bottom: 2%;
}

/* leftside card header */

#light-container {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
}

#blue-light {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: #009fff;
  border: 0.35rem solid white;
}

#red-light, #yellow-light, #green-light {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
}

#red-light {
  background-color: #d60000;
}

#yellow-light {
  background-color: #f7e600;
}

#green-light {
  background-color: #00c900;
}

/* left side card body  */

#pokedex-display-border {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48.245%;
  width: 65%;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: gainsboro;
  border-color: gainsboro;
  border-radius: 2.5% 2.5% 5% 2.5%;
}

.base_stat {
    display: flex;
    justify-content: space-between; 
    text-align: start; 
    padding: 0 0.5rem;
    align-items: baseline;
}

div.base_stat_progressbar.progress {
  background-color: #a1f36a; 
  height: 1.3vh; 
  margin: 0.75vh; 
  width: 60%; 
  float: right;
}

#pokedex-display-border::after {
  content: "";
  width: 95%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2.5rem solid gainsboro;
  border-left: 2.5rem solid #dc3545;
}

#pokedex-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  padding: 0;
  background-color: #4fb9ff;
  /* border: 2rem solid gainsboro; */
  /* border-color: gainsboro;
  border-width: 5rem; */
  border-radius: 2.5%;
}

#pokedex-display img {
  width: 72.5%;
  height: auto;
  overflow: hidden;
}

#pokedex-bottom-ui {
  display: flex;
  justify-content: center;
}

#pokedex-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color:rgb(0, 94, 0);
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #82da48;
  width: 45%;
  height: 30%;
}

#pokedex-info :nth-child(2n+2)+div {
  background-color: rgba(31, 103, 0, 0.149);
}

#pokedex-info h4 {
  margin: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid rgba(31, 103, 0, 0.149);
}

#pokedex {
  min-height: 88vh;
  color: white;
}

.progress {
  background-color: #e0ffa7;
  color: green;
}

#shiny-toggle button {
  margin: 1.5vh;
  height: 1vh;
  width: 20%;
}

/* right side card  */

#moves_container {
  max-height: 57vh;
  overflow-Y: hidden;
}

.nav-link {
background-color: #d60000 !important;
color: white !important;
}

.nav-link.active {
  background-color: #dc3545 !important;
  color: white !important;
}

.card-header.team_member_header,
.card-footer.team_member_footer {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header.team_member_header > * {
  margin: 0;
}

.card-footer.team_member_footer {
  justify-content: flex-end;
}

div.team_member.card {
  color: white;
  border-color: white;
  background-color: grey;
  width: 49.25%;
  height: auto;
  margin: 0.25rem 0;
}

div.team_member.card.electric, div.team_member.card.ground {
  color: black;
}

div.team_member_body {
  display: flex;
  justify-content: flex-start;
  padding: 0.25rem;
  margin: 0;
}

.team_member_body Button {
  width: 6vw;
}

.team_member_stats{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 0.5rem;
}

/* placeholder / add pokemon to team card  */

.card.member0 {
  background-color: rgba(0, 0, 0, 0%);
  max-height: auto;
  border-color: white;
}

div.placeholder_buttons {
  display: flex; 
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
}

#placeholder_sprite,
.stats_sub_phys,
.stats_sub_spec  {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.stats_sub_phys, .stats_sub_spec {
  width: 50% !important;
}

.stats_sub_phys Button, .stats_sub_spec Button{
  width: auto;
  padding: 0.25rem;
  font-size: 0.60rem;
}

.stats_sub_spec > *, .stats_sub_phys > * {
  margin: 0.5rem 0;
}

#team_member_stats_edit {
  display: flex;
  justify-content: center;
  padding: 0;
}

#team_member_stats_edit div {
  width: 100%;
}

#team_member_stats_edit > *{
  margin: 1rem;
}

#team_member_level_nature_edit {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

section.team_member_sprite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: auto;
}

section.team_member_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#team_members {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

#right_card_body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
}



#level_edit, #nature_edit {
  width: 50%;
  margin: 1rem;
}

.ivev_form > * {
  margin: 0.25rem 0;
}

.form-label {
  margin: 0.25rem 0 !important;
}

#type_chart_headers > * {
  padding: 0 0;
  text-align: center;
}

td, th {
  text-align: center;
  vertical-align: middle; 
  width: 2.75rem;
  font-size: 0.825rem;
}

.accordion-body {
  font-size: 0.825rem;
  padding: 0.5rem 0.75rem !important;
}

.team_member_edit_buttons > * {
  width: 48% !important; 
}

#team_member_placeholder {
  padding: 0;
}