:root {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: #8f8f8f;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

main {
  min-height: 100vh;
}

#pokedex-container {
  margin-top: 5%;
  margin-bottom: 5%;
}

#light-container {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

#blue-light {
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  background-color: #009fff;
}

#red-light {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: #d60000;
}

#yellow-light {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: #f7e600;
}

#green-light {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  background-color: #00c900;
}

#pokdex-display-border {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
  width: 55%;
  padding: 0;
  background-color: gainsboro;
  border-color: gainsboro;
  border-radius: 2% 2% 2% 10%;
  /* border-style: solid;
  border-width: 0 0 50px 0; */
}

#pokedex-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 85%;
  padding: 0;
  background-color: #4fb9ff;
  border-radius: 2% 2% 2% 10%;
}

#pokedex-display img {
  width: inherit;
  height: auto;
}

#pokedex-info {
  color:#e0ffa7;
  padding: 0;
}

.card {
  min-height: 80vh;
  color: white;
}

.progress {
  background-color: #e0ffa7;
  color: green;
}

#shiny-toggle button {
  margin: 1.5vh;
  height: 1vh;
  width: 20%;
}